<!DOCTYPE html>
<html lang="ru"
      data-ng-app="isteward"
      data-ng-controller="IndexPageController as main">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">

    <link href="favicon.ico" rel="shortcut icon">
    <link href="favicon.ico" type=image/x-icon rel=icon>

    <title>Чемпионат мира FIFA 2018</title>
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="TMVhXsod7QoOWkLm4BY4nQiQ6DQJo_tkmqRHihGytPUpnDIzv2-YeiMUMqyBb3yuWPegXmfxyTDP4T3GPILcuw==">
    <meta name="description" content="">
<meta name="keywords" content="">
<link href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.1/css/ngDialog.min.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.1/css/ngDialog-theme-default.min.css" rel="stylesheet">
<link href="/css/00-reset.css" rel="stylesheet">
<link href="/css/01-frontend.css" rel="stylesheet">
<link href="/css/03-frontend_adaptive.css" rel="stylesheet">
<script src="/app/config.js"></script></head>
<body>

<div id="wrapper" class="top-bg">

    <header class="top-site float">
        <div class="wrap" data-ng-cloak>
            <a href="/" class="logo" data-ng-href="{{::main.config.homeUrl}}">&nbsp;</a>

            <div class="top-site__bar active anonymous ng-hide"
                 data-ng-hide="user.login">
                <button class="btn--trans"
                        data-ng-click="main.openLogin('Вход в систему')">Вход в систему
                </button>

                <div class="top-site__phone">
                    <p class="text">Контакный номер:</p>
                    <a href="tel:+78432167045"
                       class="number">+7&nbsp;(843)&nbsp;216&nbsp;70&nbsp;45</a>
                </div>

            </div>
            <!-- /top-site__bar -->

            <div class="top-site__bar active ng-hide"
                 data-ng-show="user.login">
                <button class="btn-logout" data-ng-click="main.logout()">Выход</button>

                <div class="profile">
                    <div class="img-wr">
                        <img data-ng-src="{{form.avatar_url}}"
                             src="/img/avatar-empty.jpg" alt="user avatar">
                    </div>

                    <div class="profile__text">
                        <p class="profile__name">
                            <a href="/cabinet.html#/events"
                               data-ng-bind-template="{{form.first_name}} {{form.last_name}}">
                                &nbsp;</a>
                        </p>

                        <p class="form__status" data-ng-bind="form.status_label"></p>
                    </div>

                </div>
                <!-- /profile -->
            </div>
            <!-- /top-site__bar -->

        </div>
        <!-- /wrap -->
    </header>
    <!-- /top-site -->

    <a href="/" class="logo--page"
       data-ng-href="{{::main.config.homeUrl}}">&nbsp;</a>

    <div class="content">
        <div class="wrap">
            
    <div class="page-buttons three">
                    <a href="/content/info/fifa2018.html"
               class="item active">
                <span class="icon st-1"></span>
                <span class="number"></span>

                <span class="title">Спортивные мероприятия</span>
            </a>
                    <a href="/content/info/stagework.html"
               class="item ">
                <span class="icon st-2"></span>
                <span class="number"></span>

                <span class="title">Этапы работы</span>
            </a>
                    <a href="/content/info/callback.html"
               class="item ">
                <span class="icon st-3"></span>
                <span class="number"></span>

                <span class="title">Наши проекты</span>
            </a>
            </div>
    <!-- /page-buttons -->
            <!-- /page-buttons -->
            <div class="white-box">
                <h1 style="text-align: center;"><strong>Работа контролером-распорядителем (стюардом)</strong></h1>

<h2><strong>Приглашаем</strong></h2>

<p>&nbsp;</p>

<p><span style="font-size:12px;">&bull;&nbsp;&nbsp; &nbsp;Активных и ответственных мужчин и женщин от 18 до 50 лет;</span></p>

<p><span style="font-size:12px;">&bull;&nbsp;&nbsp; &nbsp;Студентов, спортсменов, стюардов;</span></p>

<p><span style="font-size:12px;">&bull;&nbsp;&nbsp; &nbsp;Активистов общественных организаций и вузов;</span></p>

<p><span style="font-size:12px;">&bull;&nbsp;&nbsp; &nbsp;Сотрудников охраны, бывших сотрудников силовых ведомств.</span></p>

<h2><br />
<strong>Условия</strong></h2>

<p>&nbsp;</p>

<p><span style="font-size:12px;">&bull;&nbsp;&nbsp; &nbsp;Сменный график и возможность совмещения;</span></p>

<p><span style="font-size:12px;">&bull;&nbsp;&nbsp; &nbsp;Почасовая своевременная оплата (220 руб./час);</span></p>

<p><span style="font-size:12px;">&bull;&nbsp;&nbsp; &nbsp;Бесплатное обучение;</span></p>

<p><span style="font-size:12px;">&bull;&nbsp;&nbsp; &nbsp;Горячее питание в период матчей.</span></p>

<h2><br />
<strong>Требования</strong></h2>

<p>&nbsp;</p>

<p><span style="font-size:12px;">&bull;&nbsp;&nbsp; &nbsp;Гражданство РФ;</span></p>

<p><span style="font-size:12px;">&bull;&nbsp;&nbsp; &nbsp;Полная дееспособность и отсутствие судимости;</span></p>

<p><span style="font-size:12px;">&bull;&nbsp;&nbsp; &nbsp;Общительность, стрессоустойчивость, инициативность;</span></p>

<p><span style="font-size:12px;">&bull;&nbsp;&nbsp; &nbsp;Отсутствие психических заболеваний и различных зависимостей.</span></p>

<p><br />
<strong>Работа стюардом</strong></p>

<p>&nbsp;</p>

<p><span style="font-size:12px;">&bull;&nbsp;&nbsp; &nbsp;Это возможность стать частью крупнейшего мирового события</span></p>

<p><span style="font-size:12px;">&bull;&nbsp;&nbsp; &nbsp;Быть ближе к любимой игре</span></p>

<p><span style="font-size:12px;">&bull;&nbsp;&nbsp; &nbsp;Приобрести уникальный опыт</span></p>

<h2 style="text-align: center;">&nbsp;</h2>

<h2><strong>Как проходит обучение</strong></h2>

<p><br />
<span style="font-size:12px;">В рамках специальной подготовки контролеров-распорядителей (стюардов) вам предстоит пройти 8&nbsp;занятий общей продолжительностью 45 часов. Работа стюардом не предполагает наличие специального высшего образования - все, что будет необходимо для успешной работы, вы узнаете в рамках нашего обучения. В случае успешного прохождения подготовки вы получите удостоверение контролера-распорядителя для работы на официальных спортивных мероприятиях.</span></p>

<h2 style="text-align: center;">&nbsp;</h2>

<h2 style="text-align: center;"><strong>Контакты</strong></h2>

<p style="text-align: center;"><span style="font-size:12px;"><br />
<strong>Адрес Центра подготовки стюардов:<br />
г. Казань, ул. М. Латыпова, 24<br />
Телефоны для связи:<br />
8 (843) 205-58-84</strong></span></p>

<p style="text-align: center;"><span style="font-size:12px;"><strong>Мы <a href="https://vk.com/isteward_kzn" target="_blank"><span style="color:#0000ff;">ВКонтакте</span></a><br />
Мы в&nbsp;<a href="http://instagram.com/isteward_kzn" target="_blank"><span style="color:#0000ff;">Instagram</span></a></strong></span><span style="font-size:12px;"><br />
<strong>Е-mail:<br />
<a href="mailto:recrut@isteward.ru?subject=%D0%A0%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%20%D1%81%D1%82%D1%8E%D0%B0%D1%80%D0%B4%D0%BE%D0%BC">info@isteward.ru</a></strong></span></p>

<p><span style="font-size:14px;"></span></p>
            </div>
            <!-- /white-box -->
        </div>
        <!-- /wrap -->
    </div>
    <!-- /content -->
</div>
<!-- /wrapper -->

<script type="text/ng-template" id="login-dialog">
    <div class="modal">
        <div class="modal__box">
            <h4 class="modal__title">Вход в систему</h4>

            <form class="login-form form-st"
                  novalidate
                  data-form-autofocus
                  data-form-error-focus="login.formErrors">

                <div class="data-field-string"
                     data-field-title="Логин (контактный телефон)"
                     data-field-tooltip="79235668911"
                     data-field-property="{slug: 'username'}"
                     data-field-model="login.form.username"
                     data-field-error="login.formErrors.username"></div>

                <div class="data-field-password"
                     data-field-title="Пароль"
                     data-field-tooltip="Ваш пароль"
                     data-field-property="{slug: 'password'}"
                     data-field-model="login.form.password"
                     data-field-error="login.formErrors.password"></div>

                <div class="row">

                    <div class="modal__col">
                        <a href="/#/signup"
                           class="modal__link"
                           data-ng-click="closeThisDialog()">Зарегистрироваться</a>
                    </div>
                    <!-- /modal__col -->

                    <div class="modal__col">
                        <a class="modal__link"
                           style="cursor: pointer;"
                           data-ng-click="login.passwordReset()">Восстановить пароль</a>
                    </div>
                    <!-- /modal__col -->

                </div>
                <!-- /row -->

                <button type="button"
                        name="doLogin"
                        class="btn btn-action green"
                        data-ng-click="login.do()">Войти
                </button>

            </form>
        </div>
    </div>
</script><script type="text/ng-template" id="reset-dialog">
    <div class="modal">
        <div class="modal__box">
            <h4 class="modal__title">Восстановление пароля</h4>

            <form class="reset-form form-st"
                  novalidate
                  data-form-autofocus="{{::focusOnFirstElement}}"
                  data-form-error-focus="passwordReset.formErrors">
                <div class="data-field-string"
                     data-ng-show="resetStep == 1"
                     data-field-title="Логин (контактный телефон)"
                     data-field-tooltip="79235668911"
                     data-field-property="{slug: 'username'}"
                     data-field-model="passwordReset.form.username"
                     data-field-error="passwordReset.formErrors.username"></div>

                <div class="data-field-password"
                     data-ng-show="resetStep == 2"
                     data-field-title="Новый пароль"
                     data-field-tooltip="Новый пароль"
                     data-field-property="{slug: 'password'}"
                     data-field-model="passwordReset.form.password"
                     data-field-error="passwordReset.formErrors.password"></div>

                <div class="data-field-password"
                     data-ng-show="resetStep == 2"
                     data-field-title="Подтверждение пароля"
                     data-field-tooltip="Подтверждение пароля"
                     data-field-property="{slug: 'confirmPassword'}"
                     data-field-model="passwordReset.form.confirmPassword"
                     data-field-error="passwordReset.formErrors.confirmPassword"></div>

                <div class="data-field-string"
                     data-ng-show="resetStep == 2"
                     data-field-title="Кодовое слово"
                     data-field-tooltip="Введите код сброса пароля из СМС"
                     data-field-property="{slug: 'code'}"
                     data-field-model="passwordReset.form.code"
                     data-field-error="passwordReset.formErrors.code"></div>

                <div class="row top-margin row--btns">
                    <button class="btn btn-reset" data-ng-click="closeThisDialog()">Отмена</button>
                    <button type="button"
                            data-ng-show="resetStep == 1"
                            data-ng-click="passwordReset.reset()"
                            class="btn btn-action green">Восстановить
                    </button>
                    <button type="button"
                            name="doConfirm"
                            class="btn btn-action green"
                            data-ng-show="resetStep == 2"
                            data-ng-click="passwordReset.confirm()">Подтвердить
                    </button>
                </div>
                <!-- /row -->
            </form>
        </div>
    </div>
</script><script type="text/ng-template" id="reset-done">
    <div class="modal">
        <div class="modal__box">
            <h4 class="modal__title">Ваш пароль успешно изменен</h4>

            <div class="modal__align--center">
                <div class="row top-margin">
                    <button type="button"
                            class="btn-action green"
                            data-ng-click="closeThisDialog()">OK
                    </button>
                </div>
                <!-- /row -->

            </div>

        </div>
        <!-- modal__box -->
    </div><!-- modal -->
</script><script type="text/ng-template" id="panel-signup">
    <div class="white-box">
        <div class="half-bl" data-ng-init="panel.title='Стать стюардом'">
            <a href="#/events" class="btn--nav back"
               data-ng-href="{{::main.config.homeUrl}}"><span>Назад</span></a>

            <h1 class="white-box__title">Базовая информация</h1>

            <form name="signupForm" class="form-st" enctype="multipart/form-data"
                  novalidate
                  data-form-ng-error
                  data-form-autofocus="{{::focusOnFirstElement}}"
                  data-form-error-focus="signup.formErrors">

                <div data-ng-repeat="prop in properties | filter:{required:true}"
                     data-trigger-repeat-end="{{::focusOnFirstElement}}"
                     data-field-factory="{{::prop.type_name}}"
                     data-field-title="{{::prop.title_base64 | base64decode}}"
                     data-field-tooltip="{{::prop.tooltip_base64 | base64decode}}"
                     data-field-property="prop"
                     data-field-preview="signup.getPreview"
                     data-field-model="signup.form[prop.slug]"
                     data-field-error="signup.formErrors[prop.slug]">
                    <div data-ng-show="signupForm.$submitted">
                            <span class="error-msg"
                                  data-ng-show="signupForm[prop.slug].$error.required">
                                &laquo;{{::prop.title_base64 | base64decode}}&raquo; следует заполнить
                            </span>
                    </div>
                </div>

                <div class="data-field-password form-field span-6"
                     data-ng-hide="createdUser"
                     data-field-title="Пароль"
                     data-field-tooltip="Придумайте пароль"
                     data-field-property="{required: true, slug: 'password'}"
                     data-field-model="signup.user.password"
                     data-field-error="signup.formErrors.password">
                    <div data-ng-show="signupForm.$submitted">
                        <span class="error-msg" data-ng-show="signupForm.password.$error.required">
                            &laquo;Пароль&raquo; следует заполнить
                        </span>
                    </div>
                </div>

                <div class="data-field-password form-field span-6"
                     data-ng-hide="createdUser"
                     data-field-title="Повторите пароль"
                     data-field-tooltip="Повторите пароль"
                     data-field-property="{required: true, slug: 'confirmPassword'}"
                     data-field-model="signup.user.confirmPassword"
                     data-field-error="signup.formErrors.confirmPassword">
                    <div data-ng-show="signupForm.$submitted">
                        <span class="error-msg"
                              data-ng-show="signupForm.confirmPassword.$error.required">
                            &laquo;Повтор пароля&raquo; следует заполнить
                        </span>
                    </div>
                </div>

                <div class="data-field-bool form-field"
                     data-ng-hide="createdUser"
                     data-field-title="Согласен (-на) с тем, что оставленная мною информация может быть использована компанией ООО СПОРТ-ГАРД для обработки моего запроса."
                     data-field-property="{required: true, id:'personal-data', slug:'personalData'}"
                     data-field-model="signup.user.personalData"
                     data-field-error="signup.formErrors.personalData">
                    <div data-ng-show="signupForm.$submitted">
                        <span class="error-msg"
                              data-ng-show="signupForm.personalData.$error.required">
                            Требуется Ваше согласие на обработку персональных данных
                        </span>
                    </div>
                </div>

               <a href="/content/info/privacy_policy.html" target="blank" style="padding-left:30px;">Конфиденциальность</a>


                <div class="field-wr two-btns-inrow row" data-ng-hide="user.login">
                    <button type="button" class="btn btn-reset"
                            data-ng-disabled="working"
                            data-ng-click="signup.reset()">Очистить
                    </button>

                    <button type="submit"
                            class="btn btn-action blue"
                            data-ng-disabled="working"
                            data-ng-class="{'loading': working}"
                            data-ng-click="signup.do()">Сохранить
                    </button>
                </div>
                <!-- /field-wr -->

            </form>
        </div>
        <!-- /cabinet__content__col -->
        <!-- /whtie-box -->
    </div>
</script><script type="text/ng-template" id="signup-done">
    <div class="modal">
        <div class="modal__box">
            <h4 class="modal__title">Ваша заявка отправлена</h4>

            <div class="modal__align--center">

                <p class="text-center" style="margin-top: 15px;">
                    Ваша заявка отправлена! В течение 3-х рабочих дней по указанному номеру с Вами
                    свяжется наш администратор и сообщит время и место собеседования.
                </p>

                <div class="row top-margin">
                    <button type="button"
                            class="btn-action green"
                            data-ng-click="closeThisDialog()">OK
                    </button>
                </div>
                <!-- /row -->

            </div>

        </div>
        <!-- modal__box -->
    </div><!-- modal -->
</script><!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter33835359 = new Ya.Metrika({
                    id:33835359,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/33835359" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter --><!-- BEGIN JIVOSITE CODE {literal} --><script type='text/javascript'>
(function(){ var widget_id = 'ady4rzu4LL';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script><!-- {/literal} END JIVOSITE CODE -->
<footer class="bottom-site">
    <div class="wrap">
        <a href="/" class="logo">&nbsp;</a>

        <div class="top-site__bar active anonymous" data-ng-hide="user.login">
            <a href="#" class="btn--trans"
               data-ng-click="main.openLogin('Вход в систему')">Вход в систему</a>

            <div class="top-site__phone">
                <p class="text">Контакный номер:</p>
                <a href="tel:+78432167045" class="number">+7&nbsp;(843)&nbsp;216&nbsp;70&nbsp;45</a>
            </div>

        </div>
        <!-- /top-site__bar -->

        <div class="top-site__bar active login" data-ng-show="user.login">
            <div class="top-site__phone">
                <p class="text">Контакный номер:</p>
                <a href="tel:+78432167045" class="number">+7&nbsp;(843)&nbsp;216&nbsp;70&nbsp;45</a>
            </div>
        </div>
        <!-- /top-site__bar -->

    </div>
    <!-- /wrap -->
</footer>
<!-- /bottom-site -->

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-resource.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.2/angular-locale_ru.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.1/js/ngDialog.min.js"></script>
<script src="/app/article.html/app.js"></script>
<script src="/app/article.html/training.js"></script>
<script src="/app/index.html/dialogs.js"></script>
<script src="/app/index.html/controllers.js"></script>
<script src="/app/modules/utils.js"></script>
<script src="/app/modules/services.js"></script>
<script src="/app/modules/filters.js"></script>
<script src="/app/modules/directives.js"></script></body>
</html>
